body {
  padding: 2%;
}

aside {
  float: left;
  padding: 1%;
  width: 15%;
  height: 75%;
  border: solid black;
  border-width: 0.5%;
  overflow: scroll;
}

ul {
  visibility: hidden;
  height: 98.5%;
}

img {
  display: block;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

section {
  font-size: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 15px;
}

p {
  text-indent: 30px;
  margin: 15px;
  margin-right: 20px;
}

.inputDiv {
  display: block;
  margin : auto;
  width: 20%;
  font-size: 1em;
}

.voteDiv {
  border: solid black;
  border-width: 0.5%;
  padding: 1%;
  display: inline-block;
  width: 24%;
  height: 25%;
}

#buttonDiv {
  border: solid black;
  border-width: 0.5%;
  padding: 1%;
  width: 80%;
  display: inline-block;
}

#chartDiv1, #chartDiv2 {
  display: inline-block;
  width: 500px;
  height: 400px;
  margin-left: 2.5%;
}